<div class="margin-top-20">
    <a title="" class="social-icon pull-left" data-toggle="tooltip" data-placement="top">
        <i style="color:red" class="icon-share"></i>
        <i style="color:brown" class="icon-share"></i>
    </a>
    <a title="" class="social-icon  social-facebook pull-left" href="https://www.facebook.com/sharer/sharer.php?u=@Url.Encode(Request.Url.ToString())" data-original-title="Facebook" data-toggle="tooltip" data-placement="top">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
    </a>
    <a title="" class="social-icon  social-twitter pull-left" href="https://twitter.com/home?status=@Url.Encode(Request.Url.ToString())" data-original-title="Twitter" data-toggle="tooltip" data-placement="top">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
    </a>
    <a title="" class="social-icon  social-gplus pull-left" href="https://plus.google.com/share?url=@Url.Encode(Request.Url.ToString())" data-original-title="Google plus" data-toggle="tooltip" data-placement="top">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
    </a>
    <a title="" class="social-icon  social-linkedin pull-left" href="https://www.linkedin.com/shareArticle?mini=true&url=@Url.Encode(Request.Url.ToString())/&title=@Model.Title&summary=@Model.Description&source=@ViewBag.Organization" data-original-title="Linkedin" data-toggle="tooltip" data-placement="top">
        <i class="icon-linkedin"></i>
        <i class="icon-linkedin"></i>
    </a>
    <a title="" class="social-icon  social-email3 pull-left" href="mailto:?subject=@Model.Title &body=@Url.Encode(Request.Url.ToString())" data-original-title="Email" data-toggle="tooltip" data-placement="top">
        <i class="icon-envelope2"></i>
        <i class="icon-envelope2"></i>
    </a>
</div>