@using cutecms_porto.Areas.Config.Models.DBModel
@using System.Threading
<div class="social-icons pull-left hidden-xs">
    <a title="" class="social-icon social-icon-sm social-icon-transparent social-facebook" href="@(OrganizationData.Organization?.FacebookUrl)" data-original-title="Facebook" data-toggle="tooltip" data-placement="bottom">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
    </a>
    <a title="" class="social-icon social-icon-sm social-icon-transparent social-twitter" href="@(OrganizationData.Organization?.TwitterUrl)" data-original-title="Twitter" data-toggle="tooltip" data-placement="bottom">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
    </a>
    <a title="" class="social-icon social-icon-sm social-icon-transparent social-gplus" href="@(OrganizationData.Organization?.GooglePlusUrl)" data-original-title="Google Plus" data-toggle="tooltip" data-placement="bottom">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
    </a>
    <a title="" class="social-icon social-icon-sm social-icon-transparent social-linkedin" href="@(OrganizationData.Organization?.LinkedInUrl)" data-original-title="Linkedin" data-toggle="tooltip" data-placement="bottom">
        <i class="icon-linkedin"></i>
        <i class="icon-linkedin"></i>
    </a>
</div>