@model cutecms_porto.Areas.Identity.Models.ForgotPasswordViewModel
@using cutecms_porto.Areas.Identity.Models
@using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions { UpdateTargetId = "ForgotPasswordAjax" }))
{
    @Html.AntiForgeryToken()
    <div class="container max-width-400" id="ForgotPasswordAjax">
        @{Html.RenderPartial("~/Views/Shared/ForgotPassword.cshtml", new ForgotPasswordViewModel());}
    </div>
}
