@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Resources.LockedOut;
    ViewBag.MainTitle = Resources.Resources.LockedOut;
    ViewBag.IconTitle = "fa fa-ban";
    Layout = "~/Areas/Identity/Views/Shared/_Layout.cshtml";
}
<div>
    <p> @Resources.Resources.LockedOutMessage</p>
</div>
