@model cutecms_porto.Areas.Identity.Models.RegisterViewModel
@using cutecms_porto.Areas.Identity.Models
@using (Ajax.BeginForm("Register", "Account", new AjaxOptions { UpdateTargetId = "RegisterAjax" }))
{
    @Html.AntiForgeryToken()
    <div class="container max-width-400" id="RegisterAjax">
        @{Html.RenderPartial("~/Views/Shared/Register.cshtml", new RegisterViewModel());}
    </div>
}
