@{
    ViewBag.Title = @Resources.Resources.Error;
}
@{
//var message = string.Format("error in controller ({0}), action method ({1}). exception: {2}",
//    Model.ControllerName, Model.ActionName, Model.Exception.Message);
}
<h1 class="text-danger">@Resources.Resources.Oops</h1>
<h2 class="text-danger">@Resources.Resources.GenericError</h2>
<p class="text-danger">@Resources.Resources.ErrorNotification</p>