@{
    ViewBag.Title = Resources.Resources.ConfirmEmail;
    ViewBag.MainTitle = Resources.Resources.ConfirmEmail;
    ViewBag.IconTitle = "fa fa-envelope";
    Layout = "~/Areas/Identity/Views/Shared/_Layout.cshtml";
}
<div>
    <p>
        @Resources.Resources.ConfirmEmailThanks @Resources.Resources.Please @Html.ActionLink(@Resources.Resources.ClickHereToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>