@{
    ViewBag.Title = Resources.Resources.ResetPasswordConfirmation;
    ViewBag.MainTitle = Resources.Resources.ResetPasswordConfirmation;
    ViewBag.SubTitle = Resources.Resources.ResetPasswordConfirmation;
    ViewBag.IconTitle = "fa fa-key";
    Layout = "~/Areas/Identity/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Resources.Resources.ForgotPasswordConfirmation</h1>
            </div>
        </div>
    </div>
</section>
<div>
    <p>
        @Resources.Resources.ForgotPasswordCheck
    </p>
</div>