@{
    ViewBag.Title = Resources.Resources.ResetPasswordConfirmation;
    ViewBag.MainTitle = Resources.Resources.ResetPasswordConfirmation;
    ViewBag.IconTitle = "fa fa-key";
    Layout = "~/Areas/Identity/Views/Shared/_Layout.cshtml";
}
<div>
    <p>
        @Resources.Resources.PasswordReset @Resources.Resources.Please @Html.ActionLink(@Resources.Resources.ClickLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>