@model cutecms_porto.Areas.Identity.Models.SelectGroupEditorViewModel
@Html.HiddenFor(model => model.GroupId)
<tr>
    <td>
        @Html.CheckBoxFor(model => model.Selected, new { @class = "js-switch" })
        &nbsp;
    </td>
    <td>
        @Html.DisplayFor(model => model.GroupName)
    </td>
</tr>
