
@{
    ViewBag.Title = Resources.Resources.ThankYou;
}

@section PageHeader
{
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Resources.Resources.SubscribedToMailingList</h1>
                </div>
            </div>
        </div>
    </section>
}
<section class="section section-default text-justify">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-none">@Resources.Resources.ThankYouForInterest</p>
            </div>
        </div>
    </div>
</section>
