
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No Connection</title>
    
</head>
<body>
    <div> 
        The underlying provider failed on Open.
    </div>
</body>
</html>
