@{
    ViewBag.Title = @Resources.Resources.Error;
}
<h1 class="text-danger">@Resources.Resources.Oops</h1>
<h2 class="text-danger">@Resources.Resources.GenericError</h2>
<p class="text-danger">@Resources.Resources.ErrorNotification</p>
