@{
    ViewBag.Title = Resources.Resources.NotFound;
    Layout = "~/Areas/Identity/Views/Shared/_Layout.cshtml";
}
<h1 class="text-danger">@Resources.Resources.Oops</h1>
<h2 class="text-danger">@Resources.Resources.NotFound</h2>
